#optionsHeader {
    display: flex;
    justify-content: center;
}

#groupsContainer {
    height: 40rem;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.light {
    border: 1px solid #000;
    border-radius: 120px;
    width: 220px;
    height: 220px;
}

.lightLit {
    filter: brightness(85%);

}